.the-layout {
  --theme-color: var(--blue);
  --border-color: #d8dce5;
  --whole-bg-color: #fff;
  --z-index: 100;
  --sidebar-width: 260px;
  --navbar-height: 50px;
  --tags-height: 34px;
  --content-padding: 12px;
  --content-bg-color: #eee;
  --page-padding: 14px;
  --header-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  --sidebar-shadow: 1px 0 4px rgba(0, 21, 41, 0.08);
  --menu-gap: 4px;
  --menu-indent: 22px;
  --menu-title-size: 15px;
  --menu-title-height: 44px;
  --menu-item-size: 14px;
  --menu-item-height: 38px;
  --menu-item-hover-bg: #ecf5ff;
  --menu-title-color: #555;
  --menu-text-color: #606266;
  --menu-padding: 16px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--whole-bg-color);
  padding-left: var(--sidebar-width);
  transition: var(--transition);
  scroll-behavior: smooth;
}

.the-layout.full-header .the-layout-header {
  padding-left: 0px;
}

.the-layout.full-header .the-layout-sidebar {
  height: calc(100vh - var(--navbar-height));
  top: calc(var(--navbar-height));
  z-index: calc(var(--z-index) - 1);
}

.the-layout.collapsed-sidebar {
  padding-left: 0;
}

.the-layout.collapsed-sidebar .the-layout-sidebar {
  transform: translate3d(-100%, 0, 0);
}

.the-layout.collapsed-sidebar .the-layout-header {
  padding-left: 0;
}

.the-layout-header {
  width: 100%;
  background-color: var(--whole-bg-color);
  padding-left: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  transition: var(--transition);
  box-shadow: var(--header-shadow);
}

.the-layout-navbar {
  width: 100%;
  height: var(--navbar-height);
  overflow: hidden;
  position: relative;
  background: var(--whole-bg-color);
  box-shadow: var(--header-shadow);
  overflow: hidden;
}

.the-layout-navbar .hamburger {
  width: var(--navbar-height);
  height: 100%;
  cursor: pointer;
  transition: var(--transition);
}

.the-layout-navbar .hamburger:hover {
  background: rgba(0, 0, 0, 0.08);
}

.the-layout-navbar .hamburger .svg-icon {
  width: 24px;
  height: 24px;
  transition: var(--transition);
}

.the-layout-navbar .hamburger-actived .svg-icon {
  transform: rotate(180deg);
}

.the-layout-sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  height: 100vh;
  overflow: hidden;
  background-color: var(--whole-bg-color);
  position: fixed;
  left: 0;
  top: 0;
  z-index: calc(var(--z-index) + 1);
  transition: var(--transition);
  box-shadow: var(--sidebar-shadow);
}

.the-layout-sidebar-content {
  width: 100%;
  padding: 0 var(--page-padding);
}

.the-layout-sidebar-content.padding-full {
  padding: var(--page-padding);
}

.the-layout-content {
  background-color: var(--content-bg-color);
  padding: var(--content-padding);
  height: 100vh;
  overflow: auto;
  padding-top: calc(var(--navbar-height) + var(--content-padding));
  --layout-content-height: calc(100vh - var(--navbar-height) - (var(--content-padding) * 2) - (var(--page-padding) * 2));
}

.the-layout.has-tag-list.full-header .the-layout-sidebar {
  height: calc(100vh - var(--navbar-height) - var(--tags-height));
  top: calc(var(--navbar-height) + var(--tags-height));
}

.the-layout.has-tag-list .the-layout-content {
  padding-top: calc(var(--navbar-height) + var(--tags-height) + var(--content-padding));
  --layout-content-height: calc(100vh - var(--navbar-height) - var(--tags-height) - (var(--content-padding) * 2) - (var(--page-padding) * 2));
}

.the-layout-page {
  width: 100%;
  min-height: 100%;
  background-color: var(--whole-bg-color);
  padding: var(--page-padding);
}

.the-layout-menu {
  --level: 0;
  width: 100%;
  margin-top: var(--menu-gap);
}

.the-layout-menu .the-layout-menu-arrow {
  position: relative;
}

.the-layout-menu .the-layout-menu-arrow::after, .the-layout-menu .the-layout-menu-arrow::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 1.5px;
  transition: var(--transition);
  border-radius: 2px;
  background-color: var(--menu-title-color);
}

.the-layout-menu .the-layout-menu-arrow::before {
  transform: rotate(-45deg) translate(2.5px);
}

.the-layout-menu .the-layout-menu-arrow::after {
  transform: rotate(45deg) translate(-2.5px);
}

.the-layout-menu .the-layout-menu-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--menu-title-height);
  line-height: 1;
  transition: var(--transition);
  border-radius: var(--border-radius);
  color: var(--menu-title-color);
  padding: 0 var(--menu-padding);
  position: relative;
  text-decoration: inherit;
  cursor: pointer;
  user-select: none;
  padding-left: calc(var(--menu-padding) + var(--menu-indent) * var(--level));
  font-size: var(--menu-title-size);
  font-weight: 500;
}

.the-layout-menu .the-layout-menu-title .menu-icon {
  font-size: var(--menu-title-size);
  margin-right: 8px;
  transition: var(--transition);
  color: var(--menu-title-color);
}

.the-layout-menu .the-layout-menu-title:hover {
  background-color: var(--menu-item-hover-bg);
  color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-title:hover .the-layout-menu-arrow::after,
.the-layout-menu .the-layout-menu-title:hover .the-layout-menu-arrow::before {
  background-color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-title:hover .menu-icon {
  color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-title.is-active {
  background-color: var(--theme-color);
  color: var(--whole-bg-color);
}

.the-layout-menu .the-layout-menu-title.is-active .menu-icon {
  color: var(--whole-bg-color);
}

.the-layout-menu .the-layout-menu-title.is-open .the-layout-menu-arrow::before {
  transform: rotate(45deg) translate(2.5px);
}

.the-layout-menu .the-layout-menu-title.is-open .the-layout-menu-arrow::after {
  transform: rotate(-45deg) translate(-2.5px);
}

.the-layout-menu .the-layout-menu-title::after {
  content: '';
  position: absolute;
  top: 16%;
  left: 0;
  width: 4px;
  height: 68%;
  transition: var(--transition);
  background-color: transparent;
}

.the-layout-menu .the-layout-menu-title.is-current {
  color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-title.is-current::after {
  background-color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-title.is-current .the-layout-menu-arrow::after,
.the-layout-menu .the-layout-menu-title.is-current .the-layout-menu-arrow::before {
  background-color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-title.is-current .menu-icon {
  color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-list {
  width: 100%;
  overflow: hidden;
  transition: var(--transition);
}

.the-layout-menu .the-layout-menu-list .is-current::after {
  background-color: transparent;
}

.the-layout-menu .the-layout-menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--menu-item-height);
  line-height: 1;
  transition: var(--transition);
  border-radius: var(--border-radius);
  color: var(--menu-text-color);
  padding: 0 var(--menu-padding);
  position: relative;
  text-decoration: inherit;
  cursor: pointer;
  user-select: none;
  padding-left: calc(var(--menu-padding) + var(--menu-indent) * (var(--level) + 1));
  margin-top: var(--menu-gap);
  font-size: var(--menu-item-size);
}

.the-layout-menu .the-layout-menu-link .menu-icon {
  font-size: var(--menu-title-size);
  margin-right: 8px;
  transition: var(--transition);
  color: var(--menu-text-color);
}

.the-layout-menu .the-layout-menu-link:hover {
  background-color: var(--menu-item-hover-bg);
  color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-link:hover .the-layout-menu-arrow::after,
.the-layout-menu .the-layout-menu-link:hover .the-layout-menu-arrow::before {
  background-color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-link:hover .menu-icon {
  color: var(--theme-color);
}

.the-layout-menu .the-layout-menu-link.is-active {
  background-color: var(--theme-color);
  color: var(--whole-bg-color);
}

.the-layout-menu .the-layout-menu-link.is-active .menu-icon {
  color: var(--whole-bg-color);
}

.layout-breadcrumb {
  padding: 0 16px;
  position: relative;
}

.layout-breadcrumb-item {
  padding: 4px 0;
  font-size: 15px;
  color: #555;
}

.layout-breadcrumb-item a {
  transition: var(--transition);
}

.layout-breadcrumb-item:hover a {
  color: var(--theme-color);
}

.layout-breadcrumb-item .separator {
  padding: 0 8px;
}

.layout-breadcrumb-item.last {
  color: #afaeae;
}

.layout-breadcrumb-item.last a {
  cursor: no-drop;
}

.layout-breadcrumb-item.last:hover a {
  color: #afaeae;
}

.the-layout-tag-box {
  width: 100%;
  padding: 0 12px;
  height: var(--tags-height);
  background-color: var(--whole-bg-color);
  box-shadow: var(--header-shadow);
}

.the-layout-tags {
  width: 100%;
  height: var(--tags-height);
  padding: 4px 0;
  display: flex;
  flex-wrap: nowrap;
}

.the-layout-tag {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  height: 100%;
  padding: 0 6px 0 8px;
  margin-right: 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--menu-text-color);
  background-color: var(--whole-bg-color);
  transition: var(--transition);
}

.the-layout-tag:visited {
  color: var(--menu-text-color);
}

.the-layout-tag.is-active {
  border-color: var(--theme-color);
  border-style: dashed;
  color: var(--theme-color);
}

.the-layout-tag.is-active .close::after {
  background-color: var(--theme-color);
}

.the-layout-tag.is-active .close::before {
  background-color: var(--theme-color);
}

.the-layout-tag .close {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  border-radius: 50%;
  color: transparent;
  margin-left: 4px;
  transition: var(--transition);
  position: relative;
}

.the-layout-tag .close::before {
  transition: var(--transition);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 1px;
  background-color: var(--menu-text-color);
  transform: translate(-50%, -50%) rotate(45deg);
}

.the-layout-tag .close::after {
  transition: var(--transition);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 1px;
  background-color: var(--menu-text-color);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.the-layout-tag .close:hover {
  background-color: #b4bccc;
}

.the-layout-tag .close:hover::after {
  background-color: #fff;
}

.the-layout-tag .close:hover::before {
  background-color: #fff;
}

.the-layout-tag-menu {
  position: fixed;
  z-index: 2100;
  top: calc(var(--navbar-height) + var(--tags-height) + 4px);
  border-radius: var(--border-radius);
  left: 0;
  min-width: 120px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.the-layout-tag-menu-item {
  font-size: 14px;
  padding: 5px 16px;
  color: var(--menu-text-color);
  line-height: 22px;
  cursor: pointer;
}

.the-layout-tag-menu-item:hover {
  background-color: var(--menu-item-hover-bg);
  color: var(--theme-color);
}

.the-logo-box {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 10px;
}

.the-logo-link {
  width: 100%;
  height: 100%;
}

.the-logo-link .the-logo {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  display: inline-block;
}

.the-logo-title {
  color: var(--menu-title-color);
  font-weight: 600;
  font-size: 14px;
}

.the-layout-search-box {
  width: 100%;
  padding-bottom: var(--page-padding);
  border-bottom: solid 1px var(--border-color);
  position: relative;
}

.the-layout-search-box input {
  width: 100%;
  height: 36px;
  padding: 0 var(--page-padding);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 15px;
  line-height: 1;
  color: var(--menu-text-color);
  transition: var(--transition);
}

.the-layout-search-box input::placeholder {
  color: #999;
}

.the-layout-search-box input:focus {
  border-color: var(--theme-color);
}

.the-layout-search-box .the-layout-search-icon {
  position: absolute;
  top: 10px;
  right: var(--page-padding);
  cursor: pointer;
  font-size: 15px;
  color: var(--menu-text-color);
}

.the-layout-to-top {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--theme-color);
  bottom: var(--page-padding);
  z-index: calc(var(--z-index) - 1);
  transition: var(--transition);
}

.the-layout-to-top::before, .the-layout-to-top::after {
  position: absolute;
  content: "";
  top: 46%;
  width: 14px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
}

.the-layout-to-top::before {
  left: calc(50% - 3px);
  transform: rotate(50deg);
}

.the-layout-to-top::after {
  right: calc(50% - 3px);
  transform: rotate(130deg);
}

.the-layout-to-top.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
